:root {
    --white: #fff;
    --primary: #000;
    --sidebar-primary-hover: #1b1b18;
    --sidebar-bg: #658c58;
    --bg: #ffff;
    --text-grey: #898f96;
    --text: #000;
    --text-headline: #111;
    --text-link: #f9fafc;
    --text-dark: #8b8f96;
    --expand-button: #f9fafc;
    --logout: #fa7575;
    --tooltip-bg: var(--primary);
    --search-bg: #fff;
    --search-border: #e3e3e0;
    --search-text: #8d9195;
    --search-icon: #a4a6ab;
    --seperator: #f1f1f1;
    --link-hover: #f4f5f7;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 1rem;
    height: 100%;
    background: var(--bg);
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 50rem;
    height: 100%;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    max-width: 18rem;
    min-width: 4rem;
    display: flex;
    color: var(--white);
    flex-direction: column;
    background: var(--sidebar-bg);
    transition: max-width 0.5s ease-in-out;
}

body.collapsed .sidebar {
    max-width: 5rem;
    display: flex;
}

body .collapsed .hide {
    position: absolute;
    visibility: hidden;
}

.seperator {
    width: 100%;
    height: 1px;
    background: var(--seperator);
    margin: 1rem 0;
}

.seperator--top {
    margin-top: auto;
}

.search_wrapper {
    position: relative;
}

.search_wrapper input {
    background: var(--search-bg);
    min-height: 3rem;
    width: 100%;
    color: var(--search-text);
    border-radius: 0.75rem;
    padding-left: 2.75rem;
    font-size: 1.4rem;
    border: 2px solid var(--search-border);
}

.search_wrapper input::placeholder {
    color: var(--search-text);
    font-size: 1.2rem;
}

body.collapsed .search_wrapper input::placeholder {
    color: transparent;
}

.search_wrapper input:focus {
    border: 2px solid var(--text);
    outline: 2px solid var(--white);
}

.search_wrapper svg {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--search-text);
    transform: translateY(-50%);
    pointer-events: none;
}

.sidebar-top-wrapper {
    display: flex;
}

.sidebar-top {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 4rem;
    padding-bottom: 1rem;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    color: var(--text);
    font-weight: 700;
    font-decoration: none;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    gap: 0.5rem;
}

.logo-small {
    hieght: 2rem;
    width: 2rem;
    overflow: hidden;
    object-fit: cover;
}

.company_name {
    white-space: nowrap;
    color: var(--text-headline);
}

.sidebar-links {
    margin-top: 1rem;
}

.sidebar-links ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.sidebar-links li {
    min-width: 3rem;
}

.sidebar-links li svg {
    stroke: var(--text-grey);
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
}

.sidebar-links li a:hover {
    background: var(--link-hover);
    color: var(--text);
}

.sidebar-links li a:hover svg {
    stroke: var(--text);
}

.sidebar-links li a {
    color: var(--text-grey);
    width: 100%;
    padding-left: 0.6rem;
    font-size: 1.25rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    min-height: 3.25rem;
    text-decoration: none;
    transition: background 0.3s ease;
    transition: color 0.3s ease;
}
